fastapi
uvicorn[standard]
gunicorn

botbuilder-core
botbuilder-schema

azure-search-documents
azure-core
openai

python-dotenv
requests
pypdf

numpy
aiohttp
anthropic
boto3
pdfplumber
apscheduler
psycopg2-binary>=2.9.9
